ion-card {
  display: flex;
  margin: 30px;
}
ion-card img {
  max-width: 20vw;
  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container .play-button {
  margin: 16px;
}

.seasons-container {
  margin: 0 30px;
}

.seasons-container p {
  margin: 0;
}

.episode-info-container a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

@media (max-width: 1024px) {
  ion-card img {
    max-width: 30vw;
  }
}

@media (max-width: 765px) {
  ion-card img {
    max-width: 50vw;
  }
  ion-card {
    flex-direction: column;
    align-items: center;
  }
}
